:root {
    --red:#E50914;
    --black:#141414;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* elementos base */
body {
    background-color: var(--black);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--red);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

/* filme principal */
.filme-principal {
    font-size: 14px;
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.50)100%), url('/img/montrosSAfundo.jpg');    
    background-size: cover;                     /* cover - ajusta o tamanho da imagem para o tamanho da caixa */
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 5px;
    margin-bottom: 10%;
}

.filme-principal .titulo {
    margin-top: 15px;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao {
    width: 190px;
    background-color: rgba(0,0,0,0.50);
    border: none;
    color: white;

    padding: 15px 10px;
    margin-right: 15px;    
    font-size: 12px;   
    
    cursor: pointer;
    transition: .5s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
}

.filme-principal .container {
    width: 70%;
}

/* carousel jquery */
.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes {
    margin-top: 5px;
}